@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --fonte_titulo: 'Passion One', cursive;
    --fonte_padrão: 'Sriracha', cursive;
}

header {
    color: white;
    background-color: black;
    font-family: var(--fonte_titulo);
    padding: 47px;
    text-align: center;
}

header > h1 {
    font-size: 3.4em;
    font-weight: 600;
    padding: 3px;
  
}

h1 > span {font-size: 1.4em}

header > p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em
    
}

header > p > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header > p > a:hover {
    text-decoration: underline;
}

article > p {
    font-family: var(--fonte_padrão);
    font-size: 1.65em;
    padding-left: 30px;
    padding-top: 70px;}

div {
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 10px;
    margin-top: 30px;
    height: 500px;
}

#fundo01 {background-image: url('imagens/background001.jpg');}

#fundo02 {background-image: url('imagens/background002.jpg');}

div > p {
    padding-left: 30px;
    font-family: var(--fonte_padrão);
    font-size: 1.5em;
   color: white;
   width: 300px;
    background-color: rgba(0, 0, 0, 0.295)}

footer {padding: 40px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.2em;
margin-top: 40px;}
